body{
background:#1b1b2f;
color:white;
text-align:center;
font-family:Arial;
margin-top:40px;
}

#coins{
font-size:40px;
margin:20px;
}

.coin{
width:180px;
cursor:pointer;
transition:0.1s;
}

.coin:active{
transform:scale(0.9);
}

.chest{
width:150px;
display:none;
cursor:pointer;
}

.gold{
width:150px;
display:none;
cursor:pointer;
}
